<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Продукты</title>
</head>
<body>
<a href="/">Главное меню</a>
<hr>
<img src="{{ product.product_photo.url }}" alt="{{ product.product_name }}">
Название: {{ product.product_name }}<br>
Описание: {{ product.product_des }}<br>
Цена: {{ product.product_price }}<br>
Количество на складе: {{ product.product_count }}<br>
Категория: {{ product.product_category }}<br>

<form method="POST">
    {% csrf_token %}
    <input type="number" name="user_product_quantity">
    <button>Заказать</button>
</form>
</body>
</html>